* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*contenedor principal  */
.app {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
}


/*HEADER*/
/*encabezado */
.header {
    background-color: #f9f1f1;
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 10px 20px;
    /* Reduzco el padding superior e inferior */
    color: #0a57a9;
}

.img-logo {
    margin-right: 10px;
    /* Ajusto el margen a la derecha del logo */
}

/* botón del menú */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 2;
    margin-left: 10px;
    /* Ajusto el margen izquierdo del botón del menú */
    /* ... restante de los estilos ... */
}

/*icono del menú */
.menu-icon {
    width: 30px;
    /* Reduzco el tamaño del icono del menú */
    height: 30px;
    position: relative;
    cursor: pointer;
}

/*menú desplegado */
.nav {
    display: none;
}

/*menú desplegado en estado abierto */
.nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    /* Hago que el menú ocupe el 100% del ancho */
    background-color: #dee5f7;
    /* ... restante de los estilos ... */
}

/*enlaces del menú desplegado */
.nav.open a {
    margin: 5px;
    color: #000;
    text-decoration: none;
}

/* Estilos generales de la imagen */
.image {
    max-width: 100%;
    height: auto;
}



/*MAIN*/
/*contenido principal */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/*cada sección del contenido principal */
.main-section {
    margin-bottom: 50px;
}

/*sección productos*/
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo de cada tarjeta de producto */
.product-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

/* sección Quiénes somos */
#quienes-somos {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

/* imagen en Quiénes somos */
.imagen-quienes-somos img {
    max-width: 500px;
}

.texto-quienes-somos article p {
    border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        padding: 20px;
        margin-top: 20px;
        font-size: 16px;
}

/*formulario */
.form {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    margin: auto;
    background-color: #0a7efb;
    color: white;
    padding: 8px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form label {
    font-size: 14px;
    font-weight: bold;
}

/* Estilo para el título del calendario */
.fc-toolbar-title {
    color: #0a57a9;
}

/* Estilo para los eventos del calendario */
.fc-event {
    background-color: #f2f977;
    color: #020101;
}

/* Ajusta el tamaño de los días */
.fc-day {
    width: 14.2857%;
    /* Divide el calendario en 7 columnas para los días de la semana */

}

/* Ajusta el tamaño del número del día */
.fc-day-number {
    font-size: 18px;
    /* Ajusta el tamaño del número del día según tus preferencias */
}

/*FOOTER*/
/*pie de página */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    /* Mostrar los elementos en línea */
    justify-content: space-between;
    /* Distribuir los elementos de manera uniforme */
    padding: 10px;
    /* Añadir espacio entre el contenido y el borde del footer */
}

.footer-links p,
.footer-links a {
    margin: 0;
    /* Eliminar el margen de los párrafos y enlaces */
}



@media (max-width: 768px) {

    /* Cambia el diseño de la sección "Quiénes somos" a columna */
    #quienes-somos {
        flex-direction: column;
        align-items: center;
        /* Centra los elementos en el eje X */
    }

    /* Ajusta los estilos para la imagen */
    .imagen-quienes-somos {
        margin-bottom: 20px;
        /* Agrega espacio entre la imagen y el texto */
    }

}