* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*contenedor principal  */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*HEADER*/
/*encabezado */
.header {
    background-color: #b4b1b1;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*botón del menú */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

/*icono del menú */
.menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

/*menú desplegado */
.nav {
    display: none;
}

/*menú desplegado en estado abierto */
.nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

/*enlaces del menú desplegado */
.nav.open a {
    margin: 5px;
    color: #000;
    text-decoration: none;
}

/* Estilos generales de la imagen */
.image {
    max-width: 100%;
    height: auto;
}



/*MAIN*/
/*contenido principal */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*cada sección del contenido principal */
.main-section {
    margin-bottom: 40px;
}

/* sección Quiénes somos */
.quienes-somos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* imagen en Quiénes somos */
.imagen-quienes-somos img {
    max-width: 500px;
}

/* Texto en Quiénes somos */
.texto-quienes-somos {
    max-width: 400px;
}

/*formulario */
.form {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    margin: auto;
    background-color: #0a7efb;
    color: white;
    padding: 8px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form label {
    font-size: 14px;
    font-weight: bold;
}

/* Establece un ancho máximo para el contenedor del calendario */
.calendar {
    max-width: 100%;
}

/* Estilo para el título del calendario */
.fc-toolbar-title {
    color: #0a57a9;
}

/* Estilo para los eventos del calendario */
.fc-event {
    background-color: #f2f977;
    color: #020101;
}

/* Ajusta el tamaño de los días */
.fc-day {
    width: 14.2857%;
    /* Divide el calendario en 7 columnas para los días de la semana */

}

/* Ajusta el tamaño del número del día */
.fc-day-number {
    font-size: 18px;
    /* Ajusta el tamaño del número del día según tus preferencias */
}

/*FOOTER*/
/*pie de página */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}



