* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*contenedor principal  */
.app {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    overflow-x: hidden;
}


/*HEADER*/
/*encabezado */
.header {
    background-color: #f9f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 10px 20px;
    color: #0a57a9;
}

.img-logo {
    margin-right: 10px;
    /* Ajusto el margen a la derecha del logo */
}

/* botón del menú */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    /* Ocultar el botón de hamburguesa en pantallas grandes */
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

/*menú desplegado en estado abierto */
.nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #dee5f7;
}

.nav a {
    margin: 0 15px;
    color: #0a57a9;
    text-decoration: none;
    border: 1px solid transparent;
    /* Borde inicial transparente */
    padding: 10px 15px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    /* Transición suave para el cambio de color del borde */
}

.nav a:hover {
    border-color: #0a57a9;
    /* Cambiar el color del borde al pasar el ratón */
}

.nav.open a {
    margin: 15px 0;
    /* Espacio entre los enlaces */
    color: #000;
    text-decoration: none;
}

/* Estilos generales de la imagen */
.image {
    max-width: 100%;
    height: auto;
}



/*MAIN*/
/*contenido principal */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/*sección productos*/
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo de cada tarjeta de producto */
.product-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

/* sección Quiénes somos */
#quienes-somos {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

/* imagen en Quiénes somos */
.imagen-quienes-somos img {
    max-width: 100%;
}

.texto-quienes-somos article p {
    border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        padding: 20px;
        margin-top: 20px;
        font-size: 16px;
}

/*formulario */
.form {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    margin: auto;
    background-color: #0a7efb;
    color: white;
    padding: 8px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form label {
    font-size: 14px;
    font-weight: bold;
}

/* Estilo para el título del calendario */
.fc-toolbar-title {
    color: #0a57a9;
}

.fc .fc-toolbar-title {
    font-size: 1.55em;
    margin: 0 20px;
}

.fc .fc-button-primary {
    font-size: 15px;
}

.fc-event {
    background-color: #f2f977;
    color: #020101;
}

/*FOOTER*/
/*pie de página */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    /* Mostrar los elementos en línea */
    justify-content: space-between;
    /* Distribuir los elementos de manera uniforme */
    padding: 10px;
    /* Añadir espacio entre el contenido y el borde del footer */
}

.footer-links p,
.footer-links a {
    margin: 0;
    /* Eliminar el margen de los párrafos y enlaces */
}

.footer-links a {
    margin: 0;
    color: #0a57a9;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.footer-links a:hover {
    border-color: #0a57a9;
}


@media (max-width: 768px) {

    /* Cambia el diseño de la sección "Quiénes somos" a columna */
    #quienes-somos {
        flex-direction: column;
        align-items: center;
        /* Centra los elementos en el eje X */
    }

    /* Ajusta los estilos para la imagen */
    .imagen-quienes-somos {
        margin-bottom: 20px;
        /* Agrega espacio entre la imagen y el texto */
    }
    
    .footer-links {
        flex-direction: column;
        /* Coloca los elementos del footer en una columna */
        align-items: center;
        /* Centra los elementos horizontalmente */                     
    }

    .footer-links p,
    .footer-links a {
        margin-bottom: 10px;
    }
    .menu-button {
        display: flex;
        /* Mostrar el botón de hamburguesa en versiones móviles */
    }
    .nav {
        display: none;
        /* Ocultar las opciones del menú en versiones móviles */
        flex-direction: column;
        align-items: center;
           position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #dee5f7;
        padding-top: 20px;
    }
    .nav a {
        margin: 10px 0;
        width: 80%;
        /* Ajustar el ancho de las opciones del menú en dispositivos móviles */
        text-align: center;
    }

    .fc {
    width: 100%;
    }

    .fc .fc-toolbar-title {
         font-size: 1.25em;
    }

    .fc .fc-button-primary {
         font-size: 10px;
     }
    }